*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: aquamarine; */
}
#nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: red; */
    padding: 40px 60px;

}
#navpart1{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
#navpart2{
    display: flex;
    justify-content: space-between;
    width: 35%;
}
#nav h3{
    font-size: 25px;
    font-weight: 600;
}
#nav h2{
    font-size: 25px;
    font-weight: 600;
}
#nav h4{
    font-size: 25px;
    font-weight: 600;
}
#content{
    margin-top: 40px;
    padding: 40px 65px;
}
#content h3{
    font-size: 40px;
    font-weight: 500;
    letter-spacing: -1.5px;
}
#content h1{
    margin-top: 25px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
    letter-spacing: -4px;
    word-spacing: 7px;
}

#case{
    padding: 40px 65px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#case h4{
    font-size: 25px;
    font-weight: 500;
}
#case h5{
    font-size: 25px;
    font-weight: 500;
}
#right{
    display: flex;
    align-items: center;
    gap: 40px;
}
#line{
    height: 2px;
    width: 120px;
    background-color: black;
}
#projects{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    gap: 80px;
}
#elem{
    width: 50%;
}
#img1{
    height: 500px;
    /* background-color: red; */
    background-image: url(https://media.istockphoto.com/id/1338844231/vector/modern-abstract-perspective-geometric-shapes-black-texture.jpg?s=612x612&w=0&k=20&c=g6fijr8djSaSFgLEuk5qbbwJdFCwz94tmkglJkZGX-o=);
    width: 100%;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
}
#img2{
    height: 500px;
    /* background-color: red; */
    background-image: url(https://media.istockphoto.com/id/1147592587/vector/burst-color-vector-background-dot-liquid-flow-3d-design-illustration-geometric-dynamic.jpg?s=612x612&w=0&k=20&c=ErIfzfbFNBrhFhoBUFVljt2Lpi5CpJ7licwztKUY-nk=);
    width: 100%;
    border-radius: 40px;
    background-size: cover;
    background-position: center;
}
#bottom{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
}
#bottom i{
    padding: 10px 30px;
    font-size: 30px;
    border: 2px solid black;
    border-radius: 50px;
    font-weight: 600;
}
#bottom i:hover{
    background-color: black;
    color: white;
}
#btmleft h2{
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 3px;
}
#btmleft h4{
    font-size: 18px;
    font-weight: 400;
    color: rgb(71, 70, 70);
}